* {
  margin: 0px;
  padding: 0px;
  font-family: "arial";
  background-color: bisque;
}

.hidden {
  display: none;
}

.greeting {
  font-size: 20px;
  color: steelblue;
}

.todo_input {
  width: 300px;
  height: 30px;
}
